<div *ngIf="container">
<div class="card">
  <div class="card-body">
<div>ID: {{container.id}}</div>
<div>OWNER: {{container.owner}}</div>
  </div>
  </div>
<div >
  <table class="table" >
    <thead>
    <tr>
      <th>dateFrom</th>
      <th>dateTo</th>
      <th> sourcePort</th>
      <th>destinationPort</th>
      <th>sender</th>
      <th>recipient</th>
    </tr>
    </thead>
    <tbody>
<tr *ngFor="let history of histories">

    <td>{{history.dateFrom}}</td>
    <td>{{history.dateTo}}</td>
    <td>{{history.sourcePort}}</td>
    <td>{{history.destinationPort}}</td>
    <td>{{history.sender}}</td>
    <td>{{history.recipient}}</td>
</tr>

    </tbody>
  </table>
</div>
</div>
